<%-include ("partials/header") -%>
<h2>This is an about page</h2>
<p>jrkrjahgalkerjghkjearhgng  ergnak ergnaekjgh arghekjrgahgriou4oijkngk gjlrg,n,dmgnkfjoi rogrgnke ger gnrg eargkahlrngklg esrgnskng sgtshtgklnstglkhj shljrtslh  jhtjhltjh shs thjhslth sltnh ls thlsj htlsgh
    kjlht ls jhlsrk hlkrtj hlshsth ois lga.,nlr vbhsgoljtklgjrpgiap[p[ikljgrah gagkhaighejkgn iohoigrjlktng;eojgr;ergnaekjghrg oaeg k gk gagkhaighejkgna gha gha g
    g arhg ahrg kaergaegkjherg]]
</p>
<%-include ("partials/footer") -%>